.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  background-color: var(--dark-bg);
  background-image: url(./img/claw-marks-2.png);
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: center center;
  color: var(--header-color);
  min-height: 695px;
}

.header__wrapper {
  padding: 0 15px;
  max-width: 660px;
}

.header__title {
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
}

.header__title span {
  font-size: 60px;
  font-weight: 700;
}

.header__title span em {
  color: var(--accent-color);
  font-style: normal;
}

.header__text {
  font-size: 18px;
  line-height: 1.333;
  margin-bottom: 40px;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  color: var(--white) !important;
  background-color: var(--accent-color);
  width: 196px;
  padding: 15px 28px;
  margin: 0 auto;
  border-radius: 15px;
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.header__btn-img {
  width: 25px;
}

.header__btn:hover {
  transform: translateY(-2px);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
}

.header__btn:active {
  transform: translateY(2px);
  box-shadow: inset -2px -3px 9px rgba(0, 0, 0, 0.4);
}