@media screen and (max-width: 1210px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 830px) {
  .container {
    max-width: 700px;
  }

  .title-1 {
    font-size: 55px;
  }
  
  .title-2 {
    font-size: 35px;
  }

  .header {
    background-size: 100%;
  }

  .header__title {
    font-size: 35px;
  }
  
  .header__title span {
    font-size: 55px;
  }

  .project {
    max-width: 300px;
  }

  .project-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 666px) {
  .container {
    max-width: 550px;
  }

  .title-1 {
    font-size: 50px;
  }
  
  .title-2 {
    font-size: 30px;
  }

  .header__title {
    font-size: 32px;
  }
  
  .header__title span {
    font-size: 52px;
  }

  .projects {
    column-gap: 45px;
    row-gap: 45px;
  }

  .project {
    max-width: 200px;
  }
}

@media screen and (max-width: 518px) {
  .nav-row {
    justify-content: space-between;
  }

  .theme-toggle {
    order: 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 400px;
  }

  .title-1 {
    font-size: 45px;
  }
  
  .title-2 {
    font-size: 25px;
  }

  .header {
    padding: 20px 0;
  }

  .header__title {
    font-size: 28px;
  }
  
  .header__title span {
    font-size: 48px;
  }

  .projects {
    column-gap: 45px;
    row-gap: 45px;
  }

  .project {
    max-width: 300px;
  }

  .project-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 350px;
  }

  .title-1 {
    font-size: 40px;
  }
  
  .title-2 {
    font-size: 20px;
  }


  .header {
    padding: 20px 0;
  }

  .header__title {
    font-size: 24px;
  }
  
  .header__title span {
    font-size: 40px;
  }
}