.content__wrapper {
  max-width: 571px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 362px;
}

.content__wrapper__item {
  margin-bottom: 40px;
}

.title-2 p {
  font-size: 18px;
}

.number {
  color: var(--accent-color);
}

.mail {
  color: var(--accent-color);
}